[Desktop Entry]
Type=Application
Name=VLC media player
GenericName=Media player
Comment=VLC media player
Exec=vlc
Icon=org.videolan.App
Terminal=false
Categories=AudioVideo;Audio;Video;Network;
